.unknown {
    color: black;
    padding: "5px";
    background-color: grey;
  }
  
  .ok {
    color: white;
    padding: "5px";
    background-color: green;
  }

.warn {
    color: white;
    padding: "5px";
    background-color: orange;
  }

.light-alert {
    padding: "5px";
    background-color: red;
  }

 .metrics_table {
    font-family: "Courier";
    font-size:smaller;
 } 

 th {
    font-weight: bold;
 }

.light {
    padding: 5px;
    font-family: "Courier";
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    font-size: 12px;
    opacity: 0.9;
    border-style:double;
    box-shadow: 5px 5px 10px grey;
    margin: 2px;
}

a:link {
    color: white;
}
a:visited {
    color: white;
}


.upmoon {
    color: white;
    padding: 5px;
    margin: 2px;
    font-family: "Arial"
}

.group {
    background-color: rgb(199, 186, 239);
    padding: 5px;
    opacity: 0.8;
    margin: 10px;
    width: 250px;
    float: left;
}